@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/Gotham-Bold.woff2") format("woff2"),
    url("assets/fonts/Gotham-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/Gotham-BoldItalic.woff2") format("woff2"),
    url("assets/fonts/Gotham-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/Gotham-Book.woff2") format("woff2"),
    url("assets/fonts/Gotham-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/Gotham-BookItalic.woff2") format("woff2"),
    url("assets/fonts/Gotham-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/Gotham-Light.woff2") format("woff2"),
    url("assets/fonts/Gotham-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/Gotham-LightItalic.woff2") format("woff2"),
    url("assets/fonts/Gotham-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/Gotham-Medium.woff2") format("woff2"),
    url("assets/fonts/Gotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/Gotham-Medium.woff2") format("woff2"),
    url("assets/fonts/Gotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/Gotham-MediumItalic.woff2") format("woff2"),
    url("assets/fonts/Gotham-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

html {
  background: #000;
}
body {
  background: #000;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgb(0, 0, 0)),
    url("assets/img/jive-bg.jpg");

  background-size: contain;
  background-repeat: no-repeat;
  /* background-image:linear-gradient(to right, url("assets/img/jive-bg.jpg"), rgba(0,0,0,0)); */
}

body.home {
  font-family: "Gotham";
  font-style: normal;
  background: #000;
}
.header-home {
  background-image: url("/assets/img/Hero-bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

header .navbar .navbar-nav {
  justify-content: space-between;
}
header .navbar .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 30px;
  color: #ffffff;
}

header .navbar .navbar-nav .nav-link.register {
  border-radius: 25px;
  border: 2px solid #ffffff;
}

.hero {
  width: 100vw;
  /* height: 100%; */
  height: 100vh;
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .hero-inner .hero-title {
  font-weight: bold;
  font-size: 72px;
  line-height: 69px;
  background: -webkit-linear-gradient(#ffffff, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .hero-inner .hero-title span {
  font-weight: normal;
}

.hero .hero-inner .hero-text {
  font-size: 18px;
  line-height: 26px;
  /* or 144% */

  text-align: justify;

  color: #ffffff;
}

.hero .hero-inner .hero-btn-grid {
  display: flex;
}

.hero .hero-inner .hero-btn-grid .hero-btn-1 {
  border-radius: 25px;
  border: 2px solid #ffffff;
  padding: 10px 30px;

  font-weight: 500;
  font-size: 20px;
  line-height: 19px;

  text-decoration: none;
  color: #ffffff;
  margin-right: 20px;
}

.hero .hero-inner .hero-btn-grid .hero-btn-2 {
  padding: 10px 30px;
  font-size: 18px;
  line-height: 17px;

  text-decoration: none;
  color: #ffffff;
  margin-left: 20px;
}

.hero .hero-inner .hero-btn-grid .hero-btn-2 span {
  padding: 10px 30px;
  font-size: 30px;
  text-decoration: none;
  color: #ffffff;
}

.hero .hero-inner .hero-socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero .hero-inner .hero-socials .hero-socials-item {
  padding: 35px 0px;
  font-size: 20px;
  line-height: 17px;
  text-decoration: none;
  color: #ffffff;
  text-align: right;
}

.section-2 {
  height: 100vh;
  /* width: 100vw; */
  background-image: url("/assets/img/Section-2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.section-2 .section-title {
  font-weight: bold;
  font-size: 72px;
  line-height: 69px;
  background: -webkit-linear-gradient(#ffffff, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-2 .section-text {
  font-size: 18px;
  line-height: 26px;
  text-align: justify;

  color: #ffffff;
}

.section-2 .play-bg {
  background-image: url("./assets/img/play-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2 .play-bg .play-icon {
  height: 90px;
  max-height: 100%;
}

footer {
  background: #000;
  color: #fff;
}

footer h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
}

footer p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}
footer input {
  width: 100%;
  background: #383838;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  /* background-clip: padding-box; */
  border: 1px solid #383838;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

footer .footer-submit-btn {
  color: #fff;
  background-color: #db3232;
  border-color: #db3232;
}

footer .footer-socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: end; */
}

footer .footer-socials .footer-socials-item {
  /* padding: 35px 0px; */
  font-size: 20px;
  line-height: 17px;
  text-decoration: none;
  color: #ffffff;
  text-align: right;
}

/* Other ages */
.sub-hero {
  width: 100vw;
  /* height: 100%; */
  height: 50vh;
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-hero .sub-hero-inner .sub-hero-title {
  font-weight: bold;
  font-size: 72px;
  line-height: 69px;
  color: #ffffff;
}

.sub-hero .sub-hero-inner .sub-hero-text {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.artist-card {
}

.artist-card .artist-img {
  width: 100%;
  /* height: 302px; */
  /* max-height: 100%; */
}

.artist-card .artist-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

.artist-card .artist-name {
}

.artist-card .artist-socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: end; */
}

.artist-card .artist-socials .artist-socials-item {
  padding: 0px 5px;
  font-size: 20px;
  line-height: 17px;
  text-decoration: none;
  color: #ffffff;
  text-align: right;
}

.artist-card .artist-bio {
  font-size: 16px;
  /* line-height: 20px; */
  color: #ffffff;
}

/* MEdia Screan 987px */
@media screen and (max-width: 987px) {
  .hero .hero-inner .hero-socials {
    display: none;
  }

  .section-2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50 50;
  }
}
